---
import { getCollection } from "astro:content";

const posts = (await getCollection("insights"))
  .sort((a,b) => b.data.date - a.data.date);
---

<h2>Featured insights</h2>

<ul>
{posts.map(post => (

<li>
<a href={`/insights/${post.id}`}>
{post.data.title}
</a>
</li>

))}
</ul>
